.mat-elevation-z8 {
    background-color: white;
    height: calc(100vh - 80px);
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-radius: 8px;
    box-shadow: var(--card-box-shadow);

}

.no-data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;

    .no-data-text {
        font-family: Lato, sans-serif !important;
        font-size: 24px;
        font-weight: bold;
        color: var(--text-color4);
    }
}

.table-container {
    height: calc(100% - 50px);

    table {
        width: 100%;
    }

    td,
    th {
        height: 60px;
    }

}


.page-title {
    font-size: 22px;
}

.submit-button {
    color: var(--success-color);
}

.status {
    height: 30px;
    width: 85px;
    padding: 5px;
    text-align: center;
    border-radius: 30px;
    color: white;

    &.Submitted {
        background: linear-gradient(45deg, #2ed8b6, #59e0c5);
    }

    &.Open {
        background: #e14eca;
    }

    &.Hold {
        background: linear-gradient(45deg, #ffb64d, #ffcb80);
    }

    &.Canceled {
        background: linear-gradient(45deg, #ff5370, #ff869a);
    }
}

.text-end {
    text-align: end;
}