.container-mat {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--main-bg-color);
}

.notification-toggle{
    position: absolute;
    right: 0px;
    top: 10px;
    .notification-toggle-btn{
        color:#ba54f5;
    }
}
mat-sidenav {
    &.notification-panel {
        width: 300px;
        background-color: var(--main-bg-color);
        box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.12);
    }

    &.menu-panel {
        background-color: var(--side-menu-bg) !important;

        width: 200px;
    }
}