:root {
    --primary-color: #ba54f5;
    --title-color: #1d253b;

    --text-color1: #ba54f5;
    --text-color3: #939393;
    --text-color4: #861d73;
    --text-btn-color: #ba54f5;
    --error-color: #fd77a4;
    --success-color: #00bf9a;
    --side-menu-bg: rgb(31, 32, 34);
    --main-bg-color: #f5f6fa;


    --header-height: 64px;
    --card-box-shadow: 0 14px 28px rgba(0,0,0,0), 0 10px 10px rgba(0,0,0,0.10);
}